.map-page {
    position: relative;
    overflow: hidden;
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .map-container {
        height: 90vh;
    }
}
